{% extends "portfolio/portfolio_base.html" %}
{% block title %}
  {{ post.title }}
{% endblock title %}
{% block content %}
  <section class="section" id="blog-detail">
    <h1 class="blog-title">{{ post.title }}</h1>
    <p class="blog-meta">{{ post.date }} | {{ post.category }}</p>
    <img src="{{ post.image.url }}"
         alt="{{ post.title }}"
         class="blog-image"
         height="{{ post.image.height }}"
         width="{{ post.image.width }}">
    <div class="blog-content">{{ post.content|safe }}</div>
  </section>
{% endblock content %}
