{% extends "portfolio/portfolio_base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Portfolio
{% endblock title %}
{% block content %}
  <div class="hero" id="hero">
    <strong>Takumi Dowaki's Portfolio</strong>
    <div class="hero-particles" id="particles-js"></div>
    <video autoplay loop muted preload>
      <source src="{% static "videos/cow2.mp4" %}"
              type="video/mp4"
              alt="Hero image" />
    </video>
  </div>
  <section class="section" id="profile">
    <h1 class="section-headline">Profile</h1>
    <figure class="profile">
      <img src="{{ profile.profile_image.url }}"
           class="profile-image"
           alt="profile-img"
           width="600"
           height="400">
      <figcaption class="profile-caption">
        <p class="profile-description">
          名前：{{ profile.name }}
          <br>
          生年月日：{{ profile.birth_date }}
          <br>
          出身地：{{ profile.location }}
          <br>
          大学：{{ profile.education }}
        </p>
        <h2 class="profile-headline">About Me</h2>
        <p class="profile-about">{{ profile.about_me }}</p>
      </figcaption>
    </figure>
  </section>
  <section class="section section-secondary" data-aos="fade-up">
    <h1 class="section-headline" id="skill">Skill & Qualification</h1>
    <h2 class="section-subheadline">Skills</h2>
    <ul class="grid grid-col-4">
      {% for skill in skills %}
        <li class="grid-item" data-aos="fade-up">
          <dl class="skill">
            <dt class="skill-headline">{{ skill.skill_name }}</dt>
            <dd class="skill-img">
              <img src="{{ skill.skill_image.url }}"
                   width="140"
                   height="140"
                   alt="{{ skill.skill_name }} image">
            </dd>
            <dd class="skill-period">
              学習期間：{{ skill.skill_learning_period }}
            </dd>
            <dd class="skill-level">
              習熟度：{{ skill.skill_level|skill_level_to_stars }}
            </dd>
            <dd class="skill-description">
              {{ skill.skill_description }}
            </dd>
          </dl>
        </li>
      {% endfor %}
    </ul>
    <h2 class="section-subheadline">Qualification</h2>
    <table class="qualification" data-aos="fade-up">
      <thead>
        <tr>
          <th>資格名</th>
          <th>取得年月</th>
        </tr>
      </thead>
      <tbody>
        {% for qualification in qualifications %}
          <tr data-aos="fade-up">
            <td>{{ qualification.qualification_name }}</td>
            <td>{{ qualification.qualification_acquisition_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="section" id="blog">
    <h1 class="section-headline">Blog</h1>
    <div class="blog-list">
      {% for post in blog_posts %}
        <div class="blog-item" data-aos="fade-up">
          <h2 class="blog-title">
            <a href="{% url 'portfolio_app:blog_detail' post.id %}">{{ post.title }}</a>
          </h2>
          <p class="blog-meta">{{ post.date }} | {{ post.category }}</p>
          <img src="{{ post.image.url }}"
               alt="{{ post.title }}"
               class="blog-image"
               width="600"
               height="400">
          <p class="blog-excerpt">{{ post.excerpt }}</p>
          <a href="{% url 'portfolio_app:blog_detail' post.id %}"
             class="read-more">Read More</a>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="section" id="apps">
    <h1 class="section-headline">Apps</h1>
    <p class="section-description">作成したWebアプリを掲載する予定になります。現在作成途中</p>
    <div class="apps-grid">
      {% for app in apps %}
        <div class="app-item" data-aos="fade-up">
          <h2 class="app-title">{{ app.title }}</h2>
          <p class="app-description">{{ app.description }}</p>
          <a href="{{ app.link }}" class="app-link" target="_blank">View App</a>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="section">
    <h1 class="section-headline" id="contact">Contact</h1>
    <div class="contact-form">
      <form method="post" action="{% url 'portfolio_app:contact' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
      </form>
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  <script src="{% static 'js/particles.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script>
    document.getElementById('contact-form').addEventListener('submit', function() {
      document.getElementById('loading-spinner').style.display = 'block';
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>AOS.init();</script>
{% endblock scripts %}
